@import "_variables.scss";
html {
  height: 100%;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: $color_blue;

  height: 100%;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color_pink;
  box-shadow: 8px 2px 2px $color_orange;

  .header-title {
    display: flex;
    justify-content: center;
  }
  .header__description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;

  #super-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid blue;

    .divInside {
      border: 1px solid red;
      width: 50px;
      height: 50px;
    }
  }

  .button--play-game {
    border: 2px solid $color_violet;
    background-color: $color_yellow;
    width: 70px;
    height: 50px;
    color: $color_pink;
    box-shadow: 5px 2px 2px $color_orange;
    font-size: 18px;
  }
  .button--play-game:hover {
    background-color: $color_green;
    border: 2px solid $color_orange;
    box-shadow: 5px 2px 2px $color_green;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $color_pink;
  position: fixed;
  bottom: 0;
  width: 100%;
}
